name: Build Signed APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Setup Node
      uses: actions/setup-node@v4
      with:
        node-version: 20.11.0

    - name: Install dependencies
      run: npm install

    - name: Generate Android Keystore
      run: |
        keytool -genkeypair -v \
        -keystore android/app/release.keystore \
        -alias release \
        -keyalg RSA \
        -keysize 2048 \
        -validity 10000 \
        -storepass ${{ secrets.STORE_PASSWORD }} \
        -keypass ${{ secrets.KEY_PASSWORD }} \
        -dname "CN=Satish Arya, OU=Mobile, O=GitBuild, L=Delhi, S=Delhi, C=IN"

    - name: Build Signed APK
      env:
        MYAPP_UPLOAD_STORE_PASSWORD: ${{ secrets.STORE_PASSWORD }}
        MYAPP_UPLOAD_KEY_ALIAS: release
        MYAPP_UPLOAD_KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
      run: |
        cd android
        ./gradlew assembleRelease

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: signed-apk
        path: android/app/build/outputs/apk/release/app-release.apk
